
*{
	margin: 0px;
	padding: 0px;
}
p{
	font-family: Raleway;
}
.shoplock.fa-lock:before{
	float:left;
}
.shoplock.fa-unlock:before{
	float:left;
}
i.fa.listlock.fa-lock{
	float:left;
	width:0;
	padding: 10px;
}
html{
	height: 100%;
}

li{
	list-style-type: none;
}
p.smaller{
	font-size: 14px;
}
p.name{
	cursor: pointer;
}

li.shop{
	background-color: rgba(130, 130, 130,0.6);
}
li.email{
	color:white;
}
a{
	text-decoration: none;
}
a.refresh{
	text-decoration: none;
}
a.refresh:hover{
	cursor: pointer;
	text-decoration: none;
}
p.error{
	color:white;
	border: 1px solid red;
	background-color: red;
	width: 94%;
	margin-top: 10px;
	padding: 10px;
	border-radius: 6px;
	text-align: center;
}
input.main_inp{
	color: black;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 3px;
	font-size: 15px;
	width: 100%;
	text-align: center
	transition: all 400ms ease-in;
}
input.main_inp_alt{
	border: 1px solid white;
	padding: 3px;
	font-size: 15px;
	width: 100%;
	max-width: 400px;
	text-align: center
	transition: all 400ms ease-in;
}
input.item_inp{
	width: 100%;
	text-align: center;
}
.user_man{
	margin:0 auto;
	width:68%;
}
.user_man .submit_input{
	width:100%;
	margin-left: 0;
	max-width: none;
}
.user_data .submit_input{
	width:100%;
	margin-left: 0;
	max-width: none;
}
.main_page .submit_input{
	width:100%;
	margin-left: 0;
	max-width: none;
}

.madeby{
	text-align: center;
}
.submit_input{
	width:100%;
}
div.user_data{
	width:55%;
	text-align: center;
	margin:0 auto;
}
.color{
	width: 100%;
	background-color: white;
	font-family: Raleway;
}
input.close_input{
	color: white;
	padding:10px;
	background-color: #FF0066;
	border: 1px solid #FF0066;
	margin-top: 5%;
	width: 300px;
	border-radius: 6px;
}
.backbutton{
	color: white;
	padding:10px;
	text-align: center;
	background-color: #2A7CC0;
	border: 1px solid #2A7CC0;
	margin-top: 10px;
	width: 100%;
	max-width: 400px;
	border-radius: 5px;
}
.backbutton:a{
	color: white;
}
input.checkbox{
	float:left;
}

.main_a{
	color: white;
	text-decoration: none;
}
.main_a:hover{
	color: white;
	text-decoration: none;
}
.main_btn{
	color: white;
	padding:10px;
	background-color: #4d4d4d;
	border: 1px solid #4d4d4d;
	margin-top: 10px;
	width: 300px;
	border-radius: 6px;
}

.fa-unlock{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 98%;
	text-align: center;	
}
.fa-lock{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 98%;
	text-align: center;
}
.shoplistinfo{
	text-align: center;
}
.alt{
	color: #555;
	padding:10px;
	text-align: left;
	font-family: Raleway;
	background-color: #bbb;
	border: 1px solid #bbb;
	margin-top: 10px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 400px;
	border-radius: 5px;
}
.alt:hover{
	border:1px solid #888;
	color:inherit;
}
.alt2{
	color: white;
	display: block;
	padding:10px;
	text-align: left;
	font-family: arial;
	background-color: #4D4D4D;
	border: 1px solid #4D4D4D;
	margin-top: 10px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 300px;
	border-radius: 5px;
}
.alt2:hover{
	background-color: #222;
	color: white;
	text-decoration: none;
}

#ConfirmBox{
	color: #555;
	width: 400px;
	height: 225px;
	background-color: #fff;
	position: fixed;
	z-index: 5;
	border-radius: 5px;
	border: 3px solid #888;
	top: calc(100% + 200px);
	display: none;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: top .5s;
}
#ConfirmBox.active{top: 0; transition: top .5s; display: block;}
#ConfirmBox h3{
	margin-top: 0px;
	padding: 15px;
	background-color: #bbb;
	color: #555;
}
#ConfirmBox p{
	padding: 10px;
}
#ConfirmBox div{
	width: 46%;
	margin: 2%;
	height: 50px;
	float: left;
	font-weight: bold;	
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
#ConfirmBox div:hover, #ConfirmBox div.active{
	background-color: #CCC;
}
/* End */

/*ShoppingList*/
.shoppinglist
{
	border-collapse: collapse;
}
.shoppinglist{
	margin-bottom: 3%;
	width: 100%;
}
.shoppinglist th{ padding: 7px;text-align: center;}
.shoppinglist input[type=number]{width: 70px;}
.shoppinglist tr td{padding: 5px; background-color: #FFF; border-top: 1px solid #CCC;text-align: center; cursor: pointer; margin-bottom: 5px;}
.shoppinglist tr.active td{text-decoration: line-through; background-color: #85FF5C; color: #444;}
.shoppinglist tr.active2 td{background-color: #85FF5C; color: #444;}
.disabled{color: #CCC;}
.sudo-button{
	cursor: pointer;
}
/* End */

/*MessageBar*/
.messages_bar{min-height: 50px;}
.messages_bar div{
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #FFF;
	opacity: 1;
	transition: opacity 1s linear;
}
.messages_bar div.deactivated{opacity: 0;}

div.msg_error{background: #F27777; color: white; }
//////////////

li.email{
	color: white;
}
/*OverView*/
.overview{
	list-style: none;
	width: 100%;
	border-radius: 5px;
	text-align: center;
}
.overview li{
	padding: 5px;
	border-top: 1px solid #CCC;
}
.overview li:first-child{
	border-top:none;
}
.overview li.shop:hover{
	background-color: #555;
}
.overview a{
	font-size: 16px;
	list-style: block;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}
a.group_ttl{
	margin-top: 2%;
}
a.group_stngs{
	width:30%;
	margin: 0 auto;
	padding: 1%;
}
a.group_stngs:hover{
	background-color: #1EAEDB; 
	border-radius: 10px;
}
.groups:hover{
	background-color: #bbb;
	color:#fff;
}
.overview li.shops:hover a{
		color: white;
}
.overview a:hover, .overview a:focus{
	color: black;	
	text-decoration: none;
}
li ul{
	margin-left: 0px;
	display: none;
	margin-bottom: 0px;
}
li:hover ul{
	display: block;
	position: fixed;
	min-height: 50px;
	min-width: 100px;
	padding-left: 15px;
	padding-bottom: 15px;
	background-color: white;
	margin-left: none;
	border-bottom: 1px solid rgba(130, 130, 130,0.6);
	border-left: 1px solid rgba(130, 130, 130,0.6);
	border-right: 1px solid rgba(130, 130, 130,0.6);
};

#wrapper{
	padding-left:0px;
}

table{
	margin-bottom: 2.5rem;
	width:100%;
}
.unblock-us{
	color: green;
}
.block-us{
	color: red;
}

p.descr{
	font-size: 1em;
	text-align: center;
}
