*{
	margin: 0px;
	padding: 0px;
	font-family:arial;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
p.error{
	color:red;
	border: 1px solid red;
	width: 20%;
	margin-top: 10px;
	padding: 10px;
	border-radius: 6px;
	margin-left: 10px;
	width: 300px;
	text-align: center;
}
form.login_form{
	margin-left: 10%;
	padding:10%;
	width:55%;
}
h1.login{
	color: #3b4148;
	margin-left: 22%;
}
input.main_inp{
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 3px;
	font-size: 15px;
	width: 100%;
	max-width: 400px;
	text-align: center
	transition: all 400ms ease-in;
}
input.item_inp{
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid black;
	text-align: center;
	padding: 3px;
	font-size: 15px;
	width: 100%;
	max-width: 400px;
	text-align: center
	transition: all 400ms ease-in;
}
.submit_input{
	color: white;
	padding:10px;
	background-color: #FF0066;
	border: 1px solid #FF0066;
	max-width: 400px;
	width: 100%;
	border-radius: 6px;
}
input.login{
	margin-top: 10px;
	border: 1px solid #fff;
	padding:5px;
	padding-left: 11px;
	text-align: center;
	margin-left: 10px;
	border-radius: 6px;
	width: 300px;
	border: 1px solid #3b4148;
}
input.checkbox{
	float:left;
}
input.close_input{
	color: white;
	padding:10px;
	background-color: #FF0066;
	border: 1px solid #FF0066;
	margin-top: 10px;
	width: 300px;
	margin-left: 10px;
	border-radius: 6px;
}

input.main_btn{
	color: white;
	padding:10px;
	background-color: #FF0066;
	border: 1px solid #FF0066;
	margin-top: 10px;
	width: 100%;
	max-width: 400px;
	border-radius: 5px;
}
.fa-unlock{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 300px;
}
.fa-lock{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 300px;
}
.lock{
	color: white;
	padding:10px;
	text-align: left;
	font-family: arial;
	background-color: #4D4D4D;
	border: 1px solid #4D4D4D;
	margin-top: 10px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 400px;
	border-radius: 5px;
}
.lock a{
	margin-bottom: 150px;
	color: white;
}
#ConfirmBox{
	width: 400px;
	height: 200px;
	background-color: #FFF;
	position: fixed;
	z-index: 5;
	border-radius: 5px;
	top: calc(100% + 200px);
	display: none;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: top .5s;
}
#ConfirmBox.active{top: 0; transition: top .5s; display: block;}
#ConfirmBox h3{
	margin-top: 0px;
	padding: 15px;
	background-color: #000;
	color: white;
}
#ConfirmBox p{
	padding: 10px;
}
#ConfirmBox div{
	width: 46%;
	margin: 2%;
	height: 50px;
	float: left;
	font-weight: bold;	
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
#ConfirmBox div:hover, #ConfirmBox div.active{
	background-color: #CCC;
}

.shoppinglist
{
	
	border-collapse: collapse;
}
.shoppinglist{
	margin-bottom: 3%;
}
.shoppinglist th{ padding: 7px;text-align: center;}
.shoppinglist input[type=number]{width: 70px;}
.shoppinglist tr td{padding: 5px; background-color: #FFF; border-top: 1px solid #CCC;text-align: center; cursor: pointer; margin-bottom: 5px;}
.shoppinglist tr.active td{text-decoration: line-through; background-color: #85FF5C; color: #444;}
.shoppinglist tr.active2 td{background-color: #85FF5C; color: #444;}
.disabled{color: #CCC;}
.sudo-button{
	cursor: pointer;
}

.messages_bar{min-height: 80px;}
.messages_bar div{
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #FFF;
	opacity: 1;
	transition: opacity 1s linear;
}
.messages_bar div.deactivated{opacity: 0;}

div.msg_error{background: #F27777; color: white; }
form.login{
	width:55%;
	margin-left: auto;
	margin-right: auto;
}
li.email{
	color: white;
}
.overview{
	list-style: none;
	border: 1px solid #CCC;
	width: 100%;
	max-width: 400px;
	border-radius: 5px;
	text-align: center;

}
.overview li{
	padding: 5px;
	border-top: 1px solid #CCC;
}
.overview li:first-child{
	border-top:none;
}
.overview li:hover{
	background-color: #555;
}
.overview a{
	list-style: block;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}
.overview li:hover a{
		color: white;
}
.overview a:hover, .overview a:focus{
	color: black;	
	text-decoration: none;
}
